{
    "disctoken": "the discord bot's token goes here",
    "guiltoken": "the guilded bot's token goes here",
    "prefix": ".",
    "servers": [
        {
            "discord": {
                "serverId": "discord server Id",
                "webhookId": "the discord server's webhook id (create a webhook in the server)"
                "nameformat": "this is the format on the discord webhook name ( use {name} for the name )"
            },
            "guilded": {
                "serverId": "guilded server Id"
                "nameformat": "this is the prefix on the guilded message ( use {name} for the name )"
            },
            "channels": [
                {
                    "guildedId": "guilded channel id",
                    "discordId": "discord channel id"
                },
                {
                    "guildedId": "aaa28176-1144-42ca-a53f-e10e0dc38974",
                    "discordId": "865523665683611688"
                }
            ]
        },
        {
            "discord": {
                "serverId": "811354612547190794",
                "webhookId": "965714920289211581"
                "nameformat": "Guilded • {name}"
            },
            "guilded": {
                "serverId": "4R547pWj"
                "nameformat": "**{name}** ► "
            },
            "channels": [
                {
                    "guildedId": "guilded channel id",
                    "discordId": "discord channel id"
                },
                {
                    "guildedId": "aaa28176-1144-42ca-a53f-e10e0dc38974",
                    "discordId": "865523665683611688"
                }
            ]
        },
    }
}