{
    "discord": {
        "token": "the discord bot's token goes here",
        "webhookid": "the webhook id goes here (create a webhook in your server, make sure the bot is in the same server as the webhook)"
    },
    "guilded": {
        "token": "the guilded bot's token goes here"
    },
    "prefix": ".",
    "bridges": {
        "channel-name": {
            "g": "guilded channel id",
            "d": "discord channel id"
        },
        "example-channel": {
            "g": "aaa28176-1144-42ca-a53f-e10e0dc38974",
            "d": "865523665683611688"
        }
    }
}